body{
	background-image: url("../images/background.png")
}
.jumbotron{
    background-color: rgba(9, 150, 150, 0.507);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: bold;
}
.well{
    background-color: rgba(9, 150, 150, 0.507);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 20px;
    font-weight: bold;
}
.well-lg{
    padding-top:43px;
    padding-bottom: 43px;
}
}
.well-sm{
    padding-top:43px;
    padding-bottom: 43px;
    min-height: 43px;
}

.thumbnail{
    background-color: rgba(9, 150, 150, 0.507);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: auto;
}
.thumbnail>img{
    height: 40px;
    width: auto;
}
.panel-heading{
    background-color: rgba(9, 150, 150, 0.507);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.panel-body{
    background-color: rgba(9, 150, 150, 0.507);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
